<!-- <div *ngIf='video'>
	<h1>{{ video.name }} is working</h1>
	<p> -->
  	<!--video-detail works! -->
  	<!-- {{ video.slug }} is working!!!
	</p>
</div> -->


<div *ngIf='!video'>Loading</div>
<div *ngIf='video'>
	<h1>{{ video?.name }}</h1>
	<!-- <p>
		{{ video.slug }}
	</p> -->
	<hr/>
	<div style="position:relative;height:200px;padding-bottom:40.25%" *ngIf='video?.embed'>
	<iframe width="200" height="200" [src]="getEmbedUrl(video) | safe" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;" allowfullscreen></iframe>
	</div>
	<div *ngIf='video.image && !video.embed'>
		<img class='img-responsive img-center' width="600" [src]='video.image' alt="{{ video.name }} image" />
	</div>
</div>

